body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media all {
  .page-break {
    display: none;
  }
}
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    break-before: page;
  }
}

@page {
  size: landscape;
  margin: 10px;
}
